.post {
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-template-rows: repeat(4, var(--grid-size));
}

.post:last-of-type {
  grid-template-rows: repeat(3, var(--grid-size));
}

.imgSection {
  grid-area: 1 / 1 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-size));
  grid-template-rows: repeat(4, var(--grid-size));
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgSection--right {
  grid-area: 1 / 9 / 4 / 13;
}

.img__under {
  grid-area: 1 / 2 / 4 / 5;
  width: 100%;
}

.imgSection--right > .img__under {
  grid-area: 1 / 1 / 4 / 4;
}

.img__over {
  position: absolute;
  grid-area: 1 / 1 / 4 / 4;
  width: 100%;
}

.imgSection--right > .img__over {
  grid-area: 1 / 2 / 4 / 5;
}

.detailsSection {
  grid-area: 1 / 1 / 4 / 8;
}

.detailsSection--right {
  grid-area: 1 / 6 / 4 / 12;
}

.title {
  font-family: var(--type-family-header);
  font-size: var(--type-header);
  padding: calc(var(--grid-unit) / 2) 0 var(--grid-unit);
  color: var(--color-day);
}

.tags {
  padding: calc(var(--grid-unit) * 3) 0 0;
}

.description {
  font-family: var(--type-family-body);
  color: var(--color-day);
  font-size: var(--type-body);
  line-height: var(--type-body-lh);
}
