.project {
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-template-rows: repeat(5, var(--grid-size));
}

.project:last-of-type {
  grid-template-rows: repeat(3, var(--grid-size));
}

.imgSection {
  grid-area: 1 / 1 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-size));
  grid-template-rows: repeat(4, var(--grid-size));
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgSection--right {
  grid-area: 1 / 9 / 4 / 13;
}

.img__under {
  grid-area: 1 / 2 / 4 / 5;
  width: 100%;
}

.imgSection--right > .img__under {
  grid-area: 1 / 1 / 4 / 4;
}

.img__over {
  position: absolute;
  grid-area: 1 / 1 / 4 / 4;
  width: 100%;
}

.imgSection--right > .img__over {
  grid-area: 1 / 2 / 4 / 5;
}

.detailsSection {
  grid-area: 1 / 1 / 4 / 8;
}

.detailsSection--right {
  grid-area: 1 / 6 / 4 / 13;
}

.header {
  padding: calc(var(--grid-unit) / 2) 0 var(--grid-unit);

  font-family: var(--type-header-family);
  font-size: var(--type-header-size);
  font-weight: var(--type-header-weight);
  line-height: var(--type-header-lh);
  color: var(--type-color);
}

.tags {
}

.description {
  font-family: var(--type-body-family);
  font-weight: var(--type-body-weight);
  font-size: var(--type-body-size);
  line-height: var(--type-body-lh);
  color: var(--type-color);
}

@media (max-width: 1100px) {
  .imgSection {
    display: none;
  }
  .project {
    display: flex;
    flex-direction: column;
    padding: calc(var(--grid-unit) * 2) 0;
  }
  .detailsSection {
  }
}
