.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 var(--grid-unit);
  top: 0;
  bottom: 0;
}

.grid {
  position: absolute;
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: 1fr;
  width: var(--grid-max-width);
  background: repeating-linear-gradient(
      30deg,
      transparent 0,
      transparent 300px,
      black 300px,
      black 800px,
      transparent 800px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 1px,
      black 2px,
      black 8px
    ),
    linear-gradient(to right, var(--color-pink) 0%, var(--color-blue) 100%);
  top: 0;
  bottom: 0;
  height: 100%;
}

.block {
  margin-bottom: -1px;
  background: black;
  border-left: 1px solid transparent;
  background-clip: content-box;
}

.block:last-of-type {
  margin-right: -1px;
}
