.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.under {
  position: absolute;
  width: 100%;
  background: repeating-linear-gradient(
      to right,
      black 0%,
      transparent 1%,
      transparent 99%,
      black 100%
    ),
    /* repeating-linear-gradient(
      120deg,
      transparent 0,
      transparent 200px,
      black 400px,
      black 700px,
      transparent 900px
    ), */
      repeating-linear-gradient(
        30deg,
        transparent 0,
        transparent 200px,
        black 400px,
        black 700px,
        transparent 900px
      ),
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 2px,
      black 2px,
      black 10px
    ),
    repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 2px,
      black 2px,
      black var(--grid-columns-width)
    ),
    linear-gradient(to right, var(--color-pink) 0%, var(--color-blue) 100%);
  top: 0;
  bottom: 0;
  height: 100%;
}

.over {
  position: absolute;
  width: 100%;
  background: repeating-linear-gradient(
      to right,
      black 0%,
      transparent 1%,
      transparent 99%,
      black 100%
    ),
    /* repeating-linear-gradient(
      120deg,
      transparent 0,
      transparent 200px,
      black 400px,
      black 700px,
      transparent 900px
    ), */
      repeating-linear-gradient(
        30deg,
        transparent 0,
        transparent 200px,
        black 400px,
        black 700px,
        transparent 900px
      ),
    repeating-linear-gradient(
      to right,
      transparent 0px,
      transparent 2px,
      black 2px,
      black 10px
    ),
    linear-gradient(to bottom, var(--color-pink) 0%, var(--color-blue) 100%);
  mask-image: repeating-linear-gradient(
    to bottom,
    black 0px,
    black 2px,
    transparent 2px,
    transparent var(--grid-columns-width)
  );
  top: 0;
  bottom: 0;
  height: 100%;
}

/* 
.block {
  margin-bottom: -1px;
  background: black;
  border-left: 2px solid transparent;
  background-clip: content-box;
} */

.block:last-of-type {
  margin-right: -1px;
}
