.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: var(--grid-max-width);
  padding-bottom: calc(var(--grid-unit) * 10);
}

.post {
  grid-area: span 1 / span 4;
  padding-right: var(--grid-unit);
}

.title {
  padding: calc(var(--grid-unit) * 2) 0 var(--grid-unit);
}
