.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, var(--grid-column-width));
}

.imageContainer {
  grid-column: 1 / 9;
}

.imageDark {
  display: block;
  width: 100%;
}
