.container {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--grid-outer-width);
  height: 100%;
  z-index: -1;
  display: grid;
  grid-template-columns: var(--grid-outer-column-template);
  grid-template-rows: repeat(auto-fill, var(--grid-size));
}

.blockImgHorizontal {
  grid-area: 1 / 10 / 2 / 11;
  width: 100%;
  height: 100%;
  background: url(./single-horizontal.png) 100% / 100%;
  box-shadow: 0 0 6px var(--color-blue-half);
}

.blockImgVertical {
  grid-area: 7 / 12 / 8 / 13;
  width: 100%;
  height: 100%;
  background: url(./single-vertical.png) 100% / 100%;
  box-shadow: 0 0 6px var(--color-blue-half);
}

.blockNav {
  grid-area: 1 / 1 / 2 / 4;
  width: 100%;
  height: 100%;
  background: url(./triple-horizontal.png) 100% / 100%;
  box-shadow: 0 0 6px var(--color-purple);
}
