.container {
}

.title {
  display: block;

  font-family: var(--type-family-title);
  font-size: calc(var(--grid-size) / 1.25);
  line-height: calc(var(--grid-size) / 1.25);
  font-weight: normal;

  color: white;

  background-image: url(./tekstbg-hq.png);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
