.title {
  display: block;

  font-family: var(--type-title-family);
  font-size: var(--type-title-size);
  line-height: var(--type-title-lh);
  font-weight: var(--type-title-weight);
  color: var(--type-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
