.container {
}

.title {
  display: block;

  font-family: var(--type-family-title);
  font-size: var(--type-title);
  line-height: var(--type-title-lh);
  font-weight: var(--type-title-weight);

  color: white;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
