.outer {
  position: relative;
  width: 100%;
  justify-content: center;
  padding-bottom: calc(var(--grid-size) * 2);
}

.listHeader {
  height: var(--grid-size);
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
}

.subtitle {
  font-family: var(--type-family-title);
  font-size: var(--type-subtitle);
  color: var(--color-day);
}

.listHeader__decoration {
  width: 100%;
  height: 100%;
  grid-area: 1 / 5 / 2 / 6;
  background: var(--color-purple);
  box-shadow: 0px 0px 12px var(--color-day-68);
}

.listFooter__decoration {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
  background: var(--color-purple);
  box-shadow: 0px 0px 12px var(--color-day-68);
}

.listContainer {
  width: var(--grid-max-width);
}
