.outer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: var(--grid-max-width);
  padding-bottom: calc(var(--grid-unit) * 20);
}

.post {
  display: grid;
  grid-template-columns: var(--grid-inner);
  grid-template-rows: repeat(4, var(--grid-columns-width));
}

.imgSection {
  grid-area: 1 / 1 / 4 / 5;
  display: grid;
  grid-template-columns: repeat(4, var(--grid-columns-width));
  grid-template-rows: repeat(4, var(--grid-columns-width));
  position: relative;
  justify-content: center;
  align-items: center;
}

.imgSection--right {
  grid-area: 1 / 9 / 4 / 13;
}

.img__under {
  grid-area: 1 / 2 / 4 / 5;
  width: 100%;
}

.imgSection--right > .img__under {
  grid-area: 1 / 1 / 4 / 4;
}

.img__over {
  position: absolute;
  grid-area: 1 / 1 / 4 / 4;
  width: 100%;
}

.imgSection--right > .img__over {
  grid-area: 1 / 2 / 4 / 5;
}

.detailsSection {
  grid-area: 1 / 1 / 4 / 8;
}

.detailsSection--right {
  grid-area: 1 / 6 / 4 / 13;
}

.title {
  padding: calc(var(--grid-unit) / 2) 0 var(--grid-unit);
}

.tags {
  padding: calc(var(--grid-unit) * 3) 0 0;
}
