.outer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, var(--grid-columns-width));
  width: var(--grid-max-width);
  padding-bottom: calc(var(--grid-unit) * 20);
}

.post {
  grid-column: span 4;
  padding-right: calc(var(--grid-unit) * 2);
}

.title {
  padding: calc(var(--grid-unit) / 2) 0 var(--grid-unit);
}

.tags {
  padding: calc(var(--grid-unit) * 3) 0 0;
}
