/* 
Global CSS

Do the least possible in here, I currently do not like using the cascade as
it breaks component isolation. Only permeate the component border using CSS variables.

1. Currently I'm only setting elements outsite of React's control, the html and body tag.
2. Next to that I am unsetting some annoying default browserstyles. 
3. Thirdly I'm doing some unstyled tests, which forces me to define those properties within components for explicity

*/

* {
  box-sizing: border-box;
}

html {
  font-size: var(--type-base);
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-dark);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
li,
a {
  /* detection for unstyled text */
  color: red;
  margin: 0;
  text-decoration: none;
}

p {
  margin-bottom: var(--grid-unit);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
