* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./ss-600.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./ss-700.otf') format('opentype');
  font-style: bold;
}

@font-face {
  font-family: 'Flaco mono';
  src: url('./Flaco-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('./untitledsans/UntitledSansTest-Regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: var(--type-base);
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background: var(--color-dark);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
li,
a {
  color: var(--color-day);
  margin: 0;
  text-decoration: none;
}

a,
p,
q,
li {
  font-family: var(--type-family-body);
  font-size: var(--type-body);
  line-height: var(--type-body-lh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--type-family-header);
}

h1 {
  font-size: var(--type-header);
}

p {
  margin-bottom: var(--grid-unit);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
