.outer {
  /* grid because flexbox crops */
  display: grid;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.outerGrid {
  display: grid;
  width: var(--grid-outer-width);
  grid-template-columns: var(--grid-outer);
  position: relative;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 3 / 14;
}
