.outer {
  /* grid because flexbox crops */
  display: grid;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

.outerGrid {
  display: grid;
  width: var(--grid-outer-width);
  grid-template-columns: var(--grid-outer-column-template);
  position: relative;
}

.verticalLayout {
  width: 100%;
  grid-column-start: calc(
    var(--grid-outer-column-count) - var(--grid-inner-column-count)
  );
  grid-column-end: var(--grid-outer-column-count);
}
