/* sans sharp */
@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-100.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-200.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-500.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-600.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sans Sharp';
  src: url('./fonts/ss/ss-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* untitled sans */
@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitledsans/UntitledSansTest-Light.woff')
    format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitledsans/UntitledSansTest-Regular.woff')
    format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitledsans/UntitledSansTest-Medium.woff')
    format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitledsans/UntitledSansTest-Bold.woff') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('./fonts/untitledsans/UntitledSansTest-Black.woff')
    format('truetype');
  font-weight: 900; /* Black */
  font-style: normal;
}
