:root {
  /* colors */
  --color-dark: black;
  --color-grey: grey;
  --color-day: white;
  --color-day-68: rgba(255, 255, 255, 0.68);
  --color-purple: #a960ff;
  --color-pink: #ff00ff;
  --color-lightpink: #fff9ff;
  --color-green: #00d3ba;
  --color-blue: #17c0c0;
  --color-blue-half: rgba(0, 195, 194, 0.5);

  /* typography */
  --type-base: 13px;

  --type-title-family: 'Sans Sharp';
  --type-title-weight: 900;
  --type-title-size: calc(var(--grid-size) / 1.25); /* view-width typography */
  --type-title-lh: calc(var(--grid-size) / 1.25); /* view-width typography */

  --type-subtitle-family: 'Sans Sharp';
  --type-subtitle-weight: 700;
  --type-subtitle-size: 2rem;
  --type-subtitle-lh: 2rem;

  --type-header-family: 'Untitled Sans';
  --type-header-weight: 500;
  --type-header-size: 2.3rem;
  --type-header-lh: 3rem;

  --type-body-family: 'Untitled Sans';
  --type-body-weight: 400;
  --type-body-size: 2rem;
  --type-body-lh: 2.5rem;

  --type-subtext-family: 'Untitled Sans';
  --type-subtext-weight: 400;
  --type-subtext-size: 1.2rem;
  --type-subtext-lh: 1.8rem;

  --type-color: var(--color-day);
  --type-color-grey: var(--color-grey);

  /* outer grid */
  --grid-outer-width: 100vw;
  --grid-outer-column-count: 14;
  --grid-outer-column-template: repeat(
    var(--grid-outer-columns-count),
    var(--grid-size)
  );

  /* inner grid */
  --grid-inner-column-count: 12;
  --grid-inner-width: calc(var(--grid-size) * var(--grid-inner-column-count));
  --grid-inner-column-template: repeat(
    var(--grid-inner-column-count),
    var(--grid-size)
  );

  /* general grid stuff */
  --grid-row-template: repeat(auto-fill, var(--grid-size));
  --grid-size: calc(var(--grid-outer-width) / var(--grid-outer-columns-count));
  --grid-unit: 1rem;

  /* REMOVE */
  --grid-outer-columns-count: var(--grid-outer-column-count);
}

/* major queries */
@media (max-width: 1100px) {
  :root {
    --grid-outer-column-count: 10;
    --grid-inner-column-count: 8;
  }
}
@media (max-width: 600px) {
  :root {
    --grid-outer-column-count: 6;
    --grid-inner-column-count: 4;
  }
}

/* minor type queries */

@media (min-width: 1400px) {
  :root {
    --type-base: 13px;
  }
}

@media (max-width: 1400px) {
  :root {
    --type-base: 12px;
  }
}

@media (max-width: 1200px) {
  :root {
    --type-base: 11px;
  }
}

@media (max-width: 1100px) {
  :root {
    --type-base: 10px;
  }
}

@media (max-width: 900px) {
  :root {
    --type-base: 9px;
  }
}
@media (max-width: 800px) {
  :root {
    --type-base: 8px;
    --type-title: calc(var(--grid-size) / 1.6);
    --type-title-lh: calc(var(--grid-size) / 1.6);
  }
}
