:root {
  --type-family-body: 'Flaco mono';
  --type-family-header: 'Sans Sharp';

  --type-base: 14px;
  --type-title: 5rem;
  --type-header: 2rem;
  --type-subheader: 2rem;
  --type-largebody: 1.2rem;
  --type-body: 1rem;
  --type-subtext: 0.9rem;

  --color-dark: black;
  --color-grey: grey;
  --color-day: white;
  --color-purple: #8e43ca;
  --color-pink: #ff00ff;
  --color-lightpink: #fff9ff;
  --color-blue: #00d3ba;

  --grid-unit: 1rem;
  --grid-outer-width: 112vw; /* just enough to exceed window by 2 */
  --grid-max-width: 84vw; /* just enough to give a nice padding */
  --grid-inner-width: 84vw; /* just enough to give a nice padding */
  --grid-outer-colums: 16; /*  */
  --grid-inner-colums: 12; /*  */
  --grid-column-width: 7vw;
  --grid-columns-width: var(--grid-column-width);

  --grid-outer: repeat(var(--grid-outer-colums), var(--grid-columns-width));
  --grid-inner: repeat(var(--grid-inner-colums), var(--grid-columns-width));
}
