:root {
  --gradient-dot-size: 2px;

  --gradient-color-horizontal: linear-gradient(
    to right,
    var(--color-pink) 0%,
    var(--color-green) 100%
  );

  --gradient-color-vertical: linear-gradient(
    to bottom,
    var(--color-pink) 0%,
    var(--color-green) 100%
  );

  --gradient-colomns-mask: repeating-linear-gradient(
    to right,
    black 0px,
    black var(--gradient-dot-size),
    transparent var(--gradient-dot-size),
    transparent var(--grid-size)
  );

  --gradient-rows-mask: repeating-linear-gradient(
    to bottom,
    black 0px,
    black var(--gradient-dot-size),
    transparent var(--gradient-dot-size),
    transparent var(--grid-size)
  );

  --gradient-vertical-dots-mask: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent var(--gradient-dot-size),
    black var(--gradient-dot-size),
    black 10px
  );

  --gradient-horizontal-dots-mask: repeating-linear-gradient(
    to right,
    transparent 0px,
    transparent var(--gradient-dot-size),
    black var(--gradient-dot-size),
    black 10px
  );

  --gradient-black-vertical: repeating-linear-gradient(
    30deg,
    transparent 0,
    transparent 200px,
    black 400px,
    black 700px,
    transparent 900px
  );

  --gradient-black-horizontal: repeating-linear-gradient(
    to right,
    black 0%,
    transparent 5%,
    transparent 95%,
    black 100%
  );
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: black;
}

.under {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-black-horizontal), var(--gradient-black-vertical),
    var(--gradient-vertical-dots-mask), var(--gradient-color-horizontal);
  mask-image: var(--gradient-colomns-mask);
}

.over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--gradient-black-horizontal), var(--gradient-black-vertical),
    var(--gradient-horizontal-dots-mask), var(--gradient-color-vertical);
  mask-image: var(--gradient-rows-mask);
}
