.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid {
  position: relative;
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.positionedGrid {
  position: absolute;
}

.gridGradient {
  background: linear-gradient(
    to right,
    var(--color-pink) 0%,
    var(--color-blue) 100%
  );
}

.gridBorder {
  grid-row: 1 / 13;
  background: black;
  border-left: 1px solid transparent;
  background-clip: content-box;
}

.bgback {
  width: 100%;
  grid-area: 1 / 3 / 7 / 7;
}

.bgfront {
  width: 100%;
  grid-area: 2 / 4 / 8 / 8;
}

.title {
  width: 100%;
  grid-area: 3 / 1 /8 / 11;
}

.text {
  width: 100%;
  grid-area: 7 / 9 / 13 / 13;
}
