.container {
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  padding-bottom: var(--grid-size);
}

.contact {
  grid-column: span 3;
}

.title {
  font-family: var(--type-family-title);
  font-size: var(--type-subtitle);
  padding-bottom: var(--grid-unit);
  color: var(--color-day);
}

.text {
  font-family: var(--type-family-body);
  font-size: var(--type-subtext);
  line-height: var(--type-subtext-lh);
  color: var(--color-day);
}

.people {
  grid-column: span 9;
}
