.outer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  width: var(--grid-max-width);
  grid-template-columns: var(--grid-columns);
  padding-bottom: calc(var(--grid-unit) * 5);
}

.contact {
  grid-column: span 3;
}

.title {
  font-size: var(--type-subheader);
  padding-bottom: var(--grid-unit);
}

.text {
  font-size: var(--type-body);
}

.people {
  grid-column: span 9;
}
