.container {
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  padding-bottom: var(--grid-size);
}

.contact {
  grid-column: span 3;
  padding-right: calc(var(--grid-unit) * 3);
}

.title {
  font-family: var(--type-family-title);
  font-size: var(--type-subtitle);
  padding-bottom: var(--grid-unit);
  color: var(--color-day);
}

.text {
  font-family: var(--type-family-body);
  font-size: var(--type-subtext);
  line-height: var(--type-subtext-lh);
  color: var(--color-day);
}

.people {
  grid-column: span 9;
}

@media (max-width: 1100px) {
  .contact {
    grid-column: span 4;
  }
  .people {
    grid-column: span 4;
  }

  .text {
    font-family: var(--type-family-body);
    font-size: var(--type-body);
    line-height: var(--type-body-lh);
    color: var(--color-day);
  }
}

@media (max-width: 600px) {
  .contact {
    grid-column: span var(--grid-inner-column-count);
  }
  .people {
    display: none;
  }
}
