.container {
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-template-rows: repeat(2, var(--grid-size));
  grid-auto-rows: var(--grid-size);
  align-items: center;
}

.logo {
  grid-area: 1 / 1 / 2 / 3;
}

.logoText {
  font-family: var(--type-family-title);
  font-size: var(--type-subtitle);
  font-weight: var(--type-subtitle-weight);
  color: var(--color-day);
}

.link {
  justify-self: center;
  align-self: center;
  font-family: var(--type-family-body);
  font-size: var(--type-subtext);
  font-weight: var(--type-subtext-weight);
  color: var(--color-day);
}

.linkAbout {
  grid-area: 1 / 11 / 2 / 12;
}

.linkProject {
  grid-area: 1 / 12 / 2 / 13;
}

.linkContact {
  grid-area: 2 / 11 / 3 / 12;
}

.link:last-of-type {
  padding: unset;
}

@media (max-width: 1100px) {
  .link {
    display: none;
  }
}
