.outer {
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--grid-max-width);
  padding: var(--grid-unit) 0 calc(var(--grid-unit) * 5);
}

.logo {
}

.logoText {
  font-family: var(--type-family-header);
  font-size: var(--type-largebody);
  font-weight: 100;
}

.links {
  display: flex;
}

.link {
  font-family: var(--type-family-body);
  font-size: var(--type-body);
  padding: 0 calc(var(--grid-unit) * 2) 0 0;
  font-weight: 100;
}

.link:last-of-type {
  padding: unset;
}
