.container {
  grid-column: span 3;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.image {
  display: block;
  grid-column: span 1;
  background: white;
  border-radius: 100%;
  width: 80%;
  margin: 10%;
}

.details {
  grid-column: span 2;
  padding: 0 calc(var(--grid-unit) / 2);
  align-items: center;
}

.name {
  font-size: var(--type-subtext);
  line-height: var(--type-subtext-lh);
}

.function {
  font-size: var(--type-subtext);
  line-height: var(--type-subtext-lh);

  color: var(--color-grey);
}
