.container {
  display: inline-block;
  background: var(--color-pink);
  border: 0;
  color: white;
  font-family: var(--type-family-body);
  font-size: var(--type-subtext);
  padding: calc(var(--grid-unit) / 4);
  outline: 0;
  margin: 0 var(--grid-unit) var(--grid-unit) 0;
}

.pink {
  background: var(--color-pink);
}

.blue {
  background: var(--color-blue);
}
