.container {
  display: inline-block;
  border: 0;
  padding: calc(var(--grid-unit) / 4);
  outline: 0;
  margin: 0 var(--grid-unit) var(--grid-unit) 0;

  background: var(--color-pink);

  font-family: var(--type-subtext-family);
  font-weight: var(--type-subtext-weight);
  line-height: var(--type-subtext-lh);
  font-size: var(--type-subtext-size);
  color: var(--type-color);
}

.pink {
  background: var(--color-pink);
}

.blue {
  background: var(--color-blue);
}
