.outer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: var(--grid-max-width);
}

.grid {
  width: var(--grid-max-width);
  display: grid;
  grid-template-columns: var(--grid-columns);
}

.body {
  grid-column: span 8;
}
