:root {
  --showcase-title-rows: 3;
  --showcase-description-rows: 6;
  --showcase-columns: 2;
  --showcase-text-column-end: 10;
}

.container {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-auto-rows: var(--grid-size);
  margin-bottom: var(--grid-size);

  /* scroll offset */
  margin-top: calc(-1 * var(--grid-size));
  padding-top: var(--grid-size);
}

.titleContainer {
  grid-area: 1 / 1 / calc(var(--showcase-title-rows) + 1) /
    calc(var(--grid-inner-column-count) + 1);
}

.textContainer {
  grid-area: calc(var(--showcase-title-rows) + 1) / 1 /
    calc(var(--showcase-title-rows) + var(--showcase-description-rows) + 1) /
    var(--showcase-text-column-end);
  columns: var(--showcase-columns);
  column-gap: var(--grid-size);
  break-inside: avoid-column;
}

.text {
  display: block;
  break-inside: avoid-column;

  font-family: var(--type-body-family);
  font-weight: var(--type-body-weight);
  font-size: var(--type-body-size);
  line-height: var(--type-body-lh);
  color: var(--type-color);
}

.link {
  display: block;
  color: var(--color-day);

  font-family: var(--type-body-family);
  font-weight: var(--type-body-weight);
  font-size: var(--type-body-size);
  line-height: var(--type-body-lh);
  color: var(--type-color);
}

@media (max-width: 1100px) {
  :root {
    --showcase-columns: 1;
    --showcase-title-rows: 4;
  }

  .titleContainer {
    padding-bottom: calc(var(--grid-size) / 2);
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
