:root {
  --showcase-title-rows: 4;
  --showcase-description-rows: 5;
  --showcase-columns: 2;
  --showcase-text-column-end: 10;
}

.container {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-auto-rows: var(--grid-size);
  margin-bottom: var(--grid-size);
}

.titleContainer {
  grid-area: 1 / 1 / calc(var(--showcase-title-rows) + 1) /
    calc(var(--grid-inner-column-count) + 1);
}

.textContainer {
  grid-area: calc(var(--showcase-title-rows) + 1) / 1 /
    calc(var(--showcase-title-rows) + var(--showcase-description-rows) + 1) /
    var(--showcase-text-column-end);
  columns: var(--showcase-columns);
  column-gap: var(--grid-size);
}

.text {
  font-family: var(--type-family-body);
  font-size: var(--type-body);
  line-height: var(--type-body-lh);
  color: var(--color-day);
}

@media (max-width: 1100px) {
  :root {
    --showcase-columns: 1;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
