.container {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-columns: var(--grid-inner-column-template);
  grid-template-rows: var(--grid-row-template);
  grid-auto-rows: var(--grid-size);
}

.titleContainer {
  grid-area: 1 / 1 / calc(var(--type-title-rows) + 1) / 12;
}

.textContainerLeft {
  grid-area: calc(var(--type-title-rows) + 1) / 1 /
    calc(var(--type-title-rows) + 7) / 5;
}

.textContainerRight {
  grid-area: calc(var(--type-title-rows) + 1) / 6 /
    calc(var(--type-title-rows) + 7) / 10;
}

.text {
  font-family: var(--type-family-body);
  font-size: var(--type-body);
  line-height: var(--type-body-lh);
  color: var(--color-day);
}
